# SQLite
DB_PATH=./data/liftdoor.db

# OneMap API (optional)
ONEMAP_API_KEY=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxNTA4NiwiZm9yZXZlciI6ZmFsc2UsImlzcyI6Ik9uZU1hcCIsImlhdCI6MTc4MDEyOTA5NSwibmJmIjoxNzgwMTI5MDk1LCJleHAiOjE3ODAzODgyOTUsImp0aSI6IjM4YzNhODU4LTg3N2YtNGNjYS04OGExLThkYzQ1NDgxOTY1OCJ9.V7IqHYPvFAFdMsKMZNzaNTADfXGgNJ6ulUR_rcfjMhH0l6vs0E-2TlkFPhkH4DP9f1yrX4NmRm9Ol8kPjW7Qtw0NwBSe3E1eIOauMrvUqrWRB9wgwe5nlMzCbfFMZQDbZvWq4FDYC1jpqV9hRWgBUnRcAirRxRWcLvu4IrqvwxiWUN7RKmxDO3Vz0FKv3KfM92HWqK3pPUHFtx2hCwdeBxOgZFJtGO0iQcyfSp7mi7qu8NTR-p4_E9Da_h4xk_Ad9oF8xWcBOMTLSVXq2u6eIE22zgVyEfjZmAKTcmOKAKbwERlngbVpwdKVfUrSf-mKFcsUc2KkSNHKYm0Rv3oAqg
